-#= form_for @experiment do |f|
= form_for(@experiment, html: { multipart: true }) do |f|
  -if @experiment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@experiment.errors.count, "error")} prohibited this experiment from being saved:"
      %ul
        - @experiment.errors.full_messages.each do |msg|
          %li= msg
  .field
    %b Название
    = f.text_field :name
  .field
    %b Публичный доступ
    = f.check_box :public
  .field
    %b Аннотация
    %br
    = f.text_area :annotation, options = {:rows=>"10", :cols=>"45"}
  .field
    %b Описание
    %br
    = f.text_area :description, options = {:rows=>"10", :cols=>"45"}
  .field
    %b Категория
    = f.select :node_id, Node.all.map{|c| [c.name,c.id]}
  .field
    Изображенияzzz
    -#=f.file_field :fimages, :name => 'fimages[]', :multiple  => "true"
    =f.file_field :fimages, :name => 'experiment[images_attributes][][img]', :multiple  => "true"

  -#.field
  -#  %b Метод воздействия
  -#  = f.select :impact_id, Impact.all.map{|c| [c.name,c.id]}
  .field#impact_select
    %b Метод воздействия
    = f.select :impact_id, Impact.all.map{|c| [c.name,c.id]}
  -#.field
    %b Параметры метода воздействия
    = f.fields_for ::experiments_impacts_params do |builder|
      = render "experiments_impacts_params_fields", :f => builder
    = link_to_add_fields "Добавить исходный материал", f, :element_experiments

  .field
    %b Эксперименты
    .text-warning
      ИСПРАВИТЬ УСЛОВИЯ ОТБОРА ЭКСПЕРИМЕНТОВ!!!!!!!!!!!!
      %br

    = f.fields_for :sources do |builder|
      = render "source_fields", :f => builder
    = link_to_add_fields "Добавить исходный эксперимент", f, :sources
  %br
  .field
    %b Элементы
    = f.fields_for :element_experiments do |builder|
      = render "element_experiment_fields", :f => builder
    = link_to_add_fields "Добавить исходный материал", f, :element_experiments
  %br
  .field
    %b Проверяющий
    = f.select :confirmatory_id, User.where("(role = 1 OR role = 2) AND id != ?",current_user.id).all.map{|c| [c.username,c.id]}
  .actions
    = f.submit 'Сохранить', :class=>"green button"
    = link_to 'Назад', experiments_path,:class=>"blue button"
