= form_for @impacts_param do |f|
  -if @impacts_param.errors.any?
    #error_explanation
      %h2= "#{pluralize(@impacts_param.errors.count, "error")} prohibited this impacts_param from being saved:"
      %ul
        - @impacts_param.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :impact_id
  .field
    Название
    %br
    = f.text_field :name
  .field
    Единица измерения
    %br
    = f.text_field :unit
  .actions
    = f.submit 'Сохранить', :class=>"green button"
    = link_to 'Назад', @impacts_param.impact, :class=> "blue button"
